canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  width: 70%;
}

section {
  grid-column: 2 / 8;

  margin-block: 1rem;
  padding: 1rem;

  background-color: #222222cc;
  color: #eee;
}